
body {
  color: #E8B00F;
}

body {
  background-image: url('./background-navy-blue-02.jpg');
  background-size: cover;
}

#menu button {
  background: #000082;
  color: #E8B00F;
  border-bottom: 1px solid #E8B00F;
}

.esri-attribution, #intro, #loading, #error {
  color: #E8B00F;
}

.esri-attribution, #attribution {
  background-color: #000082;
}

#menu button:hover, #mode:hover, .slide:hover {
  background: #555;
}

a:hover {
  color: #f5d3bc;
}

#mode {
  background: #000082;
  color: #E8B00F;
  border-bottom: 1px solid #E8B00F;
}

#loading>img {
  filter: brightness(5);
}

.slide {
  background: #000082;
  color: #E8B00F;
  border-color: #E8B00F;
}
